/*Global*/

body {
  padding: 0;
  margin: 0;
  font-family: "Effra", "Roboto", Helvetica, "Open-Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #323232;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Effra", Effra, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

.column, .columns {
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
    font-size: 3rem;
    color: #86BC40;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    color: #025B80;
    font-weight: 400;
}

h3 {
  font-size: 1rem;
}

@media screen and (min-width: 40em)
foundation.css:1491
h3 {
    font-size: 16px;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#frameworkRow {
  padding-bottom: 60px;
}
.site-container {
  max-width: 1000px;
  margin: 0 auto;
  z-index: 0;
  border-top: none;
  /*background-color: #FFF;*/
}


/*Header */

.header-container {
  background-color: #024059;
  padding-top: 24px;
}

.top-bar {
  padding: none;
  height: 76px;
  background-color: transparent;
}

.top-bar, .top-bar ul {
  background-color: transparent;
  color: #fff;
}

.title-bar {
  background: #024059;
  color: #fefefe;
  padding: .5rem;
}


.menu > li > a {
    padding: 1.2rem 1rem;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-weight: bold;
    transition: opacity .25s ease-out;
}

.is-dropdown-submenu {
    display: none;
    position: absolute;
    top: 67px;
    left: 0;
    min-width: 200px;
    z-index: 1;
    background: #fefefe!important;
    border: 1px solid #cacaca;
    line-height: 0rem;
}

.is-dropdown-submenu-parent.is-down-arrow > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #2199e8 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    position: absolute;
    top: 0.825rem;
    right: 5px;
}

.is-dropdown-submenu-parent a::after {
    float: right;
    margin-top: 13px;
    margin-left: 10px;
}

.is-dropdown-submenu-parent {
    position: relative;
    border-bottom: #0A8CC6 4px solid;
}

.is-dropdown-submenu-parent.is-down-arrow a {
    padding-right: 1.5rem;
    position: relative;
}

.version-dropdown > li > a {

  color: #0A8CC6;
  line-height: .5;
  font-weight: normal;

}

nav *:focus,
.top-bar-right *:focus,
.top-bar-left *:focus,
.dropdown.menu *:focus{
    outline:none;
}



.menu > li > a:hover {
    opacity: .75;
}

.heroContent {
  min-height: 460px;
  margin: 0 auto;
  padding-top: 60px;
}
#heroText {
  /*padding-left: 15px;*/
  color: #fff;
}

#heroText > p {
  font-size: 1.25rem;
}


#heroContainer {
  /*background: #f5f5f5;*/
  background-image: url("../img/node-tree.svg");
  background-size: cover;
}
#heroLogo {
  /*max-height: 200px;*/
  margin: 0 auto!important;
  display: block;
  vertical-align: middle;
}
#heroImage {
  float: right;
}

#logo {
  /*margin: 0 auto;*/
  vertical-align: middle;
  line-height: 32px;
  width: 204px;
  margin-left: -60px;
}

#title-bar-logo {
  padding-right: 10px;
  height: 64px;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 32px;
}

.menu-icon {
  padding: 1rem;
  width: 28px;
  height: 20px;
}

.title-bar .menu-icon {
    margin-left: 0.25rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
}


/*Accordion*/

.accordion-title {
  display: block;
  padding: 1.25rem 1rem;
  line-height: 1;
  font-size: 19px;
  font-weight: 700;
  color: #014D6C;
  position: relative;
  border-top: 4px solid #f5f5f5;
  border-left: none;
  border-right: none;
}

.first-accordion {
  border-top: none;
}

.last-accordion {
  border-top: 4px solid #f5f5f5;
}

.accordion-title:hover, .accordion-title:focus {
  background-color: #fff;
  color: #024059;
}
.accordion-title::before {
  content: '\f055';
  font-family: FontAwesome;
  font-size: 16px;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.5rem;
}
.is-active > .accordion-title::before {
  content: '\f056';
  color: #bcbcbc;
}
.accordion-content {
  padding: 1rem;
  display: none;
  /*border-bottom: 4px solid #f5f5f5;*/
  background-color: #fefefe;
  border: none;
}

:last-child > .accordion-content:last-child {
    border-bottom: none;
}

:last-child:not(.is-active) > .accordion-title {
    border-bottom: none;
}

ul.accordion {
  margin-bottom: 0px;
}


i.fa {
  font-size: 28px!important;
  color: #fff;
  transition: opacity .25s ease-out;
}

i.fa:hover {
  opacity: .75;
}

.example-icon {
  float: left;
  width: 75px;
  height: 75px;
  background: #0A8CC6;
  color: #fff;
  margin-right: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-bottom: 40px;
  font-family: 'sencha-examples';
  font-size: 2.5rem;
  text-align: center;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  line-height: 4.65rem;
  transition: background-color .25s ease-out;
}

.icon-keyboard {
  margin-bottom: 60px;
}

.example-icon:hover {
  background-color: #025B80;
}
.example-items {
  min-height: 140px;
}


/*Footer*/

footer {
  background-color: #024059;
  border: none;
  color: #fff;
  background-image: url("../img/node-tree.svg");
  background-size: cover;
}

.footer-menu > li {
  vertical-align: middle;
  display: inline-block;
  padding: 1rem 1rem;
  line-height: 1;
}


#footer-link {
  font-size: .5rem;
  font-weight: 400;
  padding-right: none;
  padding-left: none;
}

.footer-text {
  vertical-align: middle;
  display: inline-block;
  padding: 1rem 1rem;
  line-height: 1.5;
  font-size: .80rem;
  text-align: right;
}
/*Responsive*/

@media screen and (max-width: 39.9375em) {
  #heroLogo {
    padding-bottom: 30px;
  }
  .heroContent {
    padding-top: 30px;
  }

  .example-items {
    min-height: 100px;
  }

  #frameworkRow {
    padding-bottom: 30px;
  }

  .footer-menu > li {
    padding: 1rem .5rem;
  }

  i.fa {
    font-size: 22px!important;
  }

  .header-container {
    padding-top: 0;
  }
}
